.icon-desktop { background-image: url(png/desktop.png); background-repeat: no-repeat; }

.icon-mobile { background-image: url(png/mobile.png); background-repeat: no-repeat; }

.icon-tablet { background-image: url(png/tablet.png); background-repeat: no-repeat; }

.icon-Untitled-2-02 { background-image: url(png/Untitled-2-02.png); background-repeat: no-repeat; }

.icon-Untitled-2-03 { background-image: url(png/Untitled-2-03.png); background-repeat: no-repeat; }